@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/***** common tags *****/

html {
    background-color: black;
    color: #ccc;
    font-size: 1em;
    line-height: 1.4;
    font-family: Inter, sans-serif;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-weight: 400;
    margin: 0 0 1.5rem 0;
}

p {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: .9rem;
}

small {
    text-align: center;
    display: block;
}

a, a:visited, a:active {
    color: #00fffd;
    text-decoration: none;
}

li {
    margin-bottom: .25rem;
}

/***** classes *****/

.main__form {
    color: #ffffff;
    margin: 5rem auto;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .33);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .33);
    background-color: #0c1517;
    padding: 2rem;
}

.input__text {
    color: #fff;
    background: transparent;
    font-family: inherit;
    font-weight: 300;
    font-size: 1rem;
    border-radius: 8px;
    padding: 8px 16px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    border: 1px solid #00fffd;
    transition: .5s all;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.input__text[type="password"] {
    font-size: .8rem;

}

.input__text::placeholder {
    font-size: .9rem;
    font-weight: 400;
}

.input__text:focus {
    /*border: 1px solid #00fffd;*/
}

.input__submit {
    background: linear-gradient(100deg, #2dfac8, #3d96b8) !important;
    vertical-align: middle;
    border: 0;
    border-radius: 8px;
    font-size: .9rem;
    color: #000;
    width: 100%;
    padding: 7px 1.5em;
    cursor: pointer;
    display: inline-block;
    outline: none;
    margin-top: .5rem;
    text-align: center;
    box-sizing: border-box;
}

.small {
    font-size: .9rem;
    color: #bbb;
}

.left-0 {
    margin-left: 0;
    padding-left: 0;
}

.bottom-0 {
    margin-bottom: 0;
}

.icon {
    width: 5rem;
    height: 5rem;
    display: block;
    background-color: rgba(0, 0, 0, .15);
    background-size: 4rem;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;
    border-radius: 100px;
    border: 0;
    margin-bottom: 1rem;
}

.icon--mail {
    background-image: url("./assets/envelope-paper.svg");
}

.icon--confirmation {
    background-image: url("./assets/asterisk.svg");
}

/****** media ******/
@media (max-width: 800px) {
    .main__form {
        max-width: 50%;
    }
}

@media (max-width: 400px) {
    .main__form {
        max-width: 100%;
    }
}
